# AUTO-GENERATED from shared/public-api - do not hand-edit.
# Regenerate: node --import tsx scripts/generate-openapi-v3.ts
# Copied from paper-crane and adjusted for Mintlify: path templates use
# the field names (`{job_id}`, `{list_id}`, `{campaign_id}`, …) rather
# than Express `:id`. Do not hand-merge back into paper-crane — regenerate
# there, then re-run scripts/adjust-openapi-v3.py.
openapi: 3.1.0
info:
  title: Origami API v3
  version: "3.0"
  description: |
    The Origami **v3 API** is the current public surface: named, typed
    operations in three sections (**Account**, **Leads**, **Send**) plus
    one shared **Job** resource for all async work. The same catalog
    drives HTTP, the hosted MCP server, and the `origami` CLI.

    **Wire conventions.** Fields are `snake_case`. Every object carries
    an `object` type field. Every list is
    `{ "object": "list", "items": [...], "next_cursor": string|null, "url": string }`
    and pages with `cursor` + `limit` (max 100). Unknown request fields
    are rejected with `400 VALIDATION_ERROR` — a camelCase body fails
    loudly instead of being silently stripped.

    **Async work.** Async operations return `202` with a Job. Poll
    `GET /jobs/{job_id}` honoring `next_poll_at` / `Retry-After`, or
    subscribe to `job.*` webhooks. `succeeded` means the work
    *including enrichment* is done, so result counts are final.

    **Auth.** `Authorization: Bearer og_live_...`. Keys carry a role
    (`member` default, or `admin`). Scope a request to a child project
    with `x-origami-project: <project_id>`. The header applies to
    Leads, Send, Jobs, and — within Account — chats and exclusion
    lists. It is ignored by project management, org reads, senders,
    domains, mailboxes, webhooks, and API-key routes.

    **Idempotency.** Any POST may send `Idempotency-Key: <uuid>`. Reuse
    with a different body → `409 IDEMPOTENCY_MISMATCH`. A racing retry
    → `409 IDEMPOTENCY_PENDING` (honor `Retry-After`).

    v1 and v2 remain available but are deprecated for new integrations.
    See the v2 → v3 migration guide for the 1:1 flow map.
servers:
  - url: https://origami.chat/api/v3
security:
  - bearerAuth: []
tags:
  - name: jobs
    description: Shared async Job resource
  - name: account
    description: Org, projects, chats, senders, domains, exclusions, webhooks, keys
  - name: leads
    description: Lists, columns, rows, searches, enrichment
  - name: send
    description: "Campaigns: the linear send recipe"
paths:
  /jobs:
    get:
      x-mint:
        href: /v3/reference/jobs-list
      operationId: jobs.list
      summary: List the caller's visible Jobs, newest first
      tags:
        - jobs
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - running
              - needs_input
              - succeeded
              - failed
              - cancelled
        - name: operation
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: target_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - list
              - search
              - campaign
              - chat
              - domain_order
        - name: target_id
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jobs/{job_id}:
    get:
      x-mint:
        href: /v3/reference/jobs-get
      operationId: jobs.get
      summary: "Read one Job (paced: honor next_poll_at)"
      tags:
        - jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jobs/{job_id}/cancel:
    post:
      x-mint:
        href: /v3/reference/jobs-cancel
      operationId: jobs.cancel
      summary: Request cooperative cancel of a Job
      tags:
        - jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (JOB_NOT_CANCELLABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jobs/{job_id}/input:
    post:
      x-mint:
        href: /v3/reference/jobs-input
      operationId: jobs.input
      summary: Answer a needs_input Job's questions and resume it
      tags:
        - jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                answers:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 20
              required:
                - answers
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (JOB_NOT_WAITING)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account:
    get:
      x-mint:
        href: /v3/reference/account-get
      operationId: account.get
      summary: "Read the org: plan, capability flags, concurrent_agent_runs, project
        counts"
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/credits:
    get:
      x-mint:
        href: /v3/reference/account-credits-get
      operationId: account.credits.get
      summary: Read the reservation-aware wallet balance in credits
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/credits/usage:
    get:
      x-mint:
        href: /v3/reference/account-credits-usage
      operationId: account.credits.usage
      summary: Credits spent in a month, with a per-section breakdown
      tags:
        - account
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-(0[1-9]|1[0-2])$
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/rate-limits:
    get:
      x-mint:
        href: /v3/reference/account-rate-limits-get
      operationId: account.rate_limits.get
      summary: "Current rate-limit buckets: limit, remaining, reset per bucket"
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/projects:
    get:
      x-mint:
        href: /v3/reference/account-projects-list
      operationId: account.projects.list
      summary: List projects under the parent org
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-projects-create
      operationId: account.projects.create
      summary: Create a project (optional monthly credit cap)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                monthly_credit_cap:
                  type: integer
                  minimum: 0
                  nullable: true
                enforcement:
                  type: string
                  enum:
                    - hard
                    - soft
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/projects/{project_id}:
    get:
      x-mint:
        href: /v3/reference/account-projects-get
      operationId: account.projects.get
      summary: Read one project
      tags:
        - account
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-projects-patch
      operationId: account.projects.patch
      summary: Rename a project or change its budget cap / enforcement
      tags:
        - account
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                monthly_credit_cap:
                  type: integer
                  minimum: 0
                  nullable: true
                enforcement:
                  type: string
                  enum:
                    - hard
                    - soft
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-projects-delete
      operationId: account.projects.delete
      summary: Delete a project (previews lists/rows/chats/campaigns without confirm)
      tags:
        - account
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats:
    get:
      x-mint:
        href: /v3/reference/account-chats-list
      operationId: account.chats.list
      summary: List chats (onboarding/content/scheduled excluded by default)
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: kind
          in: query
          required: false
          schema:
            type: string
            enum:
              - chat
              - content
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-chats-create
      operationId: account.chats.create
      summary: Create an empty chat
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}:
    get:
      x-mint:
        href: /v3/reference/account-chats-get
      operationId: account.chats.get
      summary: Read one chat with linked list/campaign summaries
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-chats-patch
      operationId: account.chats.patch
      summary: Rename a chat
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-chats-archive
      operationId: account.chats.archive
      summary: Archive a chat (soft-delete; no confirm required)
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}/links:
    post:
      x-mint:
        href: /v3/reference/account-chats-links-create
      operationId: account.chats.links.create
      summary: Link an existing list or campaign to a chat (idempotent)
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                list_id:
                  type: string
                  format: uuid
                campaign_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}/links/{slug}:
    delete:
      x-mint:
        href: /v3/reference/account-chats-links-delete
      operationId: account.chats.links.delete
      summary: Unlink a list or campaign from a chat (does not delete it)
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: slug
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}/messages:
    post:
      x-mint:
        href: /v3/reference/account-chats-messages-create
      operationId: account.chats.messages.create
      summary: Send a chat message and run the agent (returns a Job)
      tags:
        - account
      description: "AGENT-tagged: may run the in-app agent under the hood."
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                prompt:
                  type: string
                  minLength: 1
                  maxLength: 10000
                metadata:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - prompt
      responses:
        "202":
          description: Job admitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (CHAT_BUSY)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders:
    get:
      x-mint:
        href: /v3/reference/account-senders-list
      operationId: account.senders.list
      summary: List the org's email and LinkedIn senders
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: channel
          in: query
          required: false
          schema:
            type: string
            enum:
              - email
              - linkedin
        - name: status
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}:
    get:
      x-mint:
        href: /v3/reference/account-senders-get
      operationId: account.senders.get
      summary: Read one sender (secrets never returned)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-senders-patch
      operationId: account.senders.patch
      summary: Update safe sender settings (no credentials)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 120
                signature_html:
                  type: string
                  maxLength: 20000
                  nullable: true
                send_as_email:
                  type: string
                  format: email
                  nullable: true
                daily_limit:
                  type: integer
                  minimum: 1
                  maximum: 1000
                timezone:
                  type: string
                  minLength: 1
                base_gap_minutes:
                  type: integer
                  minimum: 0
                  maximum: 1440
                random_gap_minutes:
                  type: integer
                  minimum: 0
                  maximum: 1440
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (SEND_AS_NOT_ALLOWED, SEND_AS_LOOKUP_FAILED,
            SEND_AS_MULTI_STEP_SEQUENCE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-senders-delete
      operationId: account.senders.delete
      summary: Disconnect a sender (previews stops when sends are scheduled)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/warmup/enable:
    post:
      x-mint:
        href: /v3/reference/account-senders-warmup-enable
      operationId: account.senders.warmup.enable
      summary: Enable warmup for an email sender (feature-gated)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (WARMUP_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/warmup/disable:
    post:
      x-mint:
        href: /v3/reference/account-senders-warmup-disable
      operationId: account.senders.warmup.disable
      summary: Disable warmup for an email sender
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (WARMUP_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/imap:
    post:
      x-mint:
        href: /v3/reference/account-senders-imap-create
      operationId: account.senders.imap.create
      summary: Connect a native SMTP/IMAP mailbox (write-only credentials)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                  minLength: 1
                  maxLength: 80
                last_name:
                  type: string
                  minLength: 1
                  maxLength: 80
                timezone:
                  type: string
                  minLength: 1
                smtp_host:
                  type: string
                  minLength: 1
                smtp_port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                smtp_username:
                  type: string
                  minLength: 1
                smtp_password:
                  type: string
                  minLength: 1
                imap_host:
                  type: string
                  minLength: 1
                imap_port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                imap_username:
                  type: string
                  minLength: 1
                imap_password:
                  type: string
                  minLength: 1
              required:
                - email
                - smtp_host
                - smtp_port
                - smtp_username
                - smtp_password
                - imap_host
                - imap_port
                - imap_username
                - imap_password
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (SMTP_AUTH_FAILED, IMAP_UNREACHABLE, HOST_NOT_ALLOWED,
            DUPLICATE_MAILBOX, ACCOUNT_LIMIT_REACHED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/connect:
    post:
      x-mint:
        href: /v3/reference/account-senders-connect
      operationId: account.senders.connect
      summary: Get a connect-accounts handoff URL (OAuth never completes in-process)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                channel:
                  type: string
                  enum:
                    - email
                    - linkedin
              required:
                - channel
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/reconnect:
    post:
      x-mint:
        href: /v3/reference/account-senders-reconnect
      operationId: account.senders.reconnect
      summary: Reconnect a needs_reauth sender (handoff, or IMAP re-submit instruction)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (IMAP_REAUTH_REQUIRED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/send-as-aliases:
    get:
      x-mint:
        href: /v3/reference/account-senders-send-as-aliases-list
      operationId: account.senders.send_as_aliases.list
      summary: List verified send-as aliases (empty for IMAP/LinkedIn senders)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (SEND_AS_LOOKUP_FAILED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/search:
    post:
      x-mint:
        href: /v3/reference/account-domains-search
      operationId: account.domains.search
      summary: Search available domains with prices (never charges)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - query
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains:
    get:
      x-mint:
        href: /v3/reference/account-domains-list
      operationId: account.domains.list
      summary: List owned DFY domains
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}:
    get:
      x-mint:
        href: /v3/reference/account-domains-get
      operationId: account.domains.get
      summary: Read one owned domain
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/purchase:
    post:
      x-mint:
        href: /v3/reference/account-domains-purchase
      operationId: account.domains.purchase
      summary: Purchase domains on the card on file (priced preview without confirm)
      tags:
        - account
      parameters:
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domains:
                  type: array
                  items:
                    type: string
                    minLength: 3
                    maxLength: 253
                  minItems: 1
                  maxItems: 20
                forwarding_domain:
                  type: string
                  minLength: 3
                  maxLength: 253
                timezone:
                  type: string
                  minLength: 1
                metadata:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - domains
      responses:
        "202":
          description: Job admitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (NO_PAYMENT_METHOD)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}/renewal/cancel:
    post:
      x-mint:
        href: /v3/reference/account-domains-renewal-cancel
      operationId: account.domains.renewal.cancel
      summary: Cancel auto-renewal for a domain
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}/renewal/undo:
    post:
      x-mint:
        href: /v3/reference/account-domains-renewal-undo
      operationId: account.domains.renewal.undo
      summary: Undo a renewal cancellation
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}/forwarding:
    post:
      x-mint:
        href: /v3/reference/account-domains-forwarding-set
      operationId: account.domains.forwarding.set
      summary: Set apex forwarding for an owned domain
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                forwarding_domain:
                  type: string
                  minLength: 3
                  maxLength: 253
              required:
                - forwarding_domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/mailboxes:
    get:
      x-mint:
        href: /v3/reference/account-mailboxes-list
      operationId: account.mailboxes.list
      summary: List DFY mailboxes (no passwords)
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-mailboxes-provision
      operationId: account.mailboxes.provision
      summary: Provision mailboxes on owned domains (always async)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                mailboxes:
                  type: array
                  items:
                    type: object
                    properties:
                      domain_id:
                        type: string
                        format: uuid
                      local_part:
                        type: string
                        minLength: 1
                        maxLength: 64
                      first_name:
                        type: string
                        minLength: 1
                        maxLength: 80
                      last_name:
                        type: string
                        minLength: 1
                        maxLength: 80
                    required:
                      - domain_id
                      - local_part
                      - first_name
                      - last_name
                    additionalProperties: false
                  minItems: 1
                  maxItems: 50
                metadata:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - mailboxes
      responses:
        "202":
          description: Job admitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists:
    get:
      x-mint:
        href: /v3/reference/account-exclusion-lists-get
      operationId: account.exclusion_lists.get
      summary: Read the effective exclusion-list source and entry counts
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-exclusion-lists-patch
      operationId: account.exclusion_lists.patch
      summary: Switch a project between the shared org list and its private list
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                source:
                  type: string
                  enum:
                    - organization
                    - project
              required:
                - source
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/people:
    get:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-list
      operationId: account.exclusion_lists.people.list
      summary: List people exclusion entries, filterable by identifier
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
        - name: linkedin_slug
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: company_domain
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-add
      operationId: account.exclusion_lists.people.add
      summary: Add people entries (single or bulk ≤1,000; idempotent upsert)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                linkedin_slug:
                  type: string
                  minLength: 1
                  maxLength: 200
                full_name:
                  type: string
                  minLength: 1
                  maxLength: 200
                email:
                  type: string
                  format: email
                company_domain:
                  type: string
                  minLength: 1
                  maxLength: 253
                company_name:
                  type: string
                  minLength: 1
                  maxLength: 200
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      linkedin_slug:
                        type: string
                        minLength: 1
                        maxLength: 200
                      full_name:
                        type: string
                        minLength: 1
                        maxLength: 200
                      email:
                        type: string
                        format: email
                      company_domain:
                        type: string
                        minLength: 1
                        maxLength: 253
                      company_name:
                        type: string
                        minLength: 1
                        maxLength: 200
                    additionalProperties: false
                  minItems: 1
                  maxItems: 1000
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (UNMATCHABLE_IDENTIFIER)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-clear
      operationId: account.exclusion_lists.people.clear
      summary: Clear the people exclusion list
      tags:
        - account
      parameters:
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/people/{entry_id}:
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-delete
      operationId: account.exclusion_lists.people.delete
      summary: Remove one people exclusion entry
      tags:
        - account
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/companies:
    get:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-list
      operationId: account.exclusion_lists.companies.list
      summary: List company exclusion entries, filterable by identifier
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: company_domain
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-add
      operationId: account.exclusion_lists.companies.add
      summary: Add company entries (single or bulk ≤1,000; idempotent upsert)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                company_domain:
                  type: string
                  minLength: 1
                  maxLength: 253
                company_name:
                  type: string
                  minLength: 1
                  maxLength: 200
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      company_domain:
                        type: string
                        minLength: 1
                        maxLength: 253
                      company_name:
                        type: string
                        minLength: 1
                        maxLength: 200
                    additionalProperties: false
                  minItems: 1
                  maxItems: 1000
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (UNMATCHABLE_IDENTIFIER)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-clear
      operationId: account.exclusion_lists.companies.clear
      summary: Clear the company exclusion list
      tags:
        - account
      parameters:
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/companies/{entry_id}:
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-delete
      operationId: account.exclusion_lists.companies.delete
      summary: Remove one company exclusion entry
      tags:
        - account
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/webhooks:
    get:
      x-mint:
        href: /v3/reference/account-webhooks-list
      operationId: account.webhooks.list
      summary: List webhook endpoints
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-webhooks-create
      operationId: account.webhooks.create
      summary: Create a webhook endpoint (secret shown once)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 50
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - url
                - event_types
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (WEBHOOK_LIMIT_REACHED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/webhooks/{webhook_id}:
    get:
      x-mint:
        href: /v3/reference/account-webhooks-get
      operationId: account.webhooks.get
      summary: Read one webhook endpoint
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-webhooks-patch
      operationId: account.webhooks.patch
      summary: Update a webhook endpoint's url, events, or enabled state
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 50
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                enabled:
                  type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-webhooks-delete
      operationId: account.webhooks.delete
      summary: Delete a webhook endpoint
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/webhooks/{webhook_id}/rotate:
    post:
      x-mint:
        href: /v3/reference/account-webhooks-rotate
      operationId: account.webhooks.rotate
      summary: Rotate an endpoint's signing secret (new secret shown once)
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/webhooks/{webhook_id}/test:
    post:
      x-mint:
        href: /v3/reference/account-webhooks-test
      operationId: account.webhooks.test
      summary: Send a webhook.test event to an endpoint
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/keys:
    get:
      x-mint:
        href: /v3/reference/account-keys-list
      operationId: account.keys.list
      summary: List API keys (names, suffix, role — never secrets)
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-keys-create
      operationId: account.keys.create
      summary: Create an API key (secret shown once; role ≤ creator's role)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                role:
                  type: string
                  enum:
                    - admin
                    - member
                project_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/keys/{key_id}:
    delete:
      x-mint:
        href: /v3/reference/account-keys-revoke
      operationId: account.keys.revoke
      summary: Revoke an API key
      tags:
        - account
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /leads/lists:
    get:
      x-mint:
        href: /v3/reference/leads-lists-list
      operationId: leads.lists.list
      summary: List lead lists (exact case-insensitive name filter)
      tags:
        - leads
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: name
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/leads-lists-create
      operationId: leads.lists.create
      summary: Create an empty list (no search, no rows, no agent)
      tags:
        - leads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
[...]
