# AUTO-GENERATED from shared/public-api - do not hand-edit.
# Regenerate: node --import tsx scripts/generate-openapi-v3.ts
# Copied from paper-crane and adjusted for Mintlify: path templates use
# the field names (`{job_id}`, `{list_id}`, `{campaign_id}`, …) rather
# than Express `:id`. Do not hand-merge back into paper-crane — regenerate
# there, then re-run scripts/adjust-openapi-v3.py.
openapi: 3.1.0
info:
  title: Origami API v3
  version: "3.0"
  description: |
    The Origami **v3 API** is the current public surface: named, typed
    operations in three sections (**Account**, **Leads**, **Send**) plus
    one shared **Job** resource for all async work. The same catalog
    drives HTTP, the hosted MCP server, and the `origami` CLI.

    **Wire conventions.** Fields are `snake_case`. Every object carries
    an `object` type field. Every list is
    `{ "object": "list", "items": [...], "next_cursor": string|null, "url": string }`
    and pages with `cursor` + `limit` (max 100). Unknown request fields
    are rejected with `400 VALIDATION_ERROR` — a camelCase body fails
    loudly instead of being silently stripped.

    **Async work.** Async operations return `202` with a Job. Poll
    `GET /jobs/{job_id}` honoring `next_poll_at` / `Retry-After`, or
    subscribe to `job.*` webhooks. `succeeded` means the work
    *including enrichment* is done, so result counts are final.

    **Auth.** `Authorization: Bearer og_live_...`. Keys carry a role
    (`member` default, or `admin`). Scope a request to a child project
    with `x-origami-project: <project_id>`. The header applies to
    Leads, Send, Jobs, and — within Account — chats and exclusion
    lists. It is ignored by project management, org reads, senders,
    domains, mailboxes, webhooks, and API-key routes.

    **Idempotency.** Any POST may send `Idempotency-Key: <uuid>`. Reuse
    with a different body → `409 IDEMPOTENCY_MISMATCH`. A racing retry
    → `409 IDEMPOTENCY_PENDING` (honor `Retry-After`).

    v1 and v2 remain available but are deprecated for new integrations.
    See the v2 → v3 migration guide for the 1:1 flow map.
servers:
  - url: https://origami.chat/api/v3
security:
  - bearerAuth: []
tags:
  - name: jobs
    description: Shared async Job resource
  - name: account
    description: Org, projects, chats, senders, domains, exclusions, webhooks, keys
  - name: leads
    description: Lists, columns, rows, searches, enrichment
  - name: send
    description: "Campaigns: the linear send recipe"
paths:
  /jobs:
    get:
      x-mint:
        href: /v3/reference/jobs-list
        metadata:
          title: "List jobs"
          sidebarTitle: "List jobs"
          description: "List the caller's visible Jobs, newest first"
      operationId: jobs.list
      summary: List the caller's visible Jobs, newest first
      tags:
        - jobs
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - running
              - needs_input
              - succeeded
              - failed
              - cancelled
        - name: operation
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: target_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - list
              - search
              - campaign
              - chat
              - domain_order
        - name: target_id
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jobs/{job_id}:
    get:
      x-mint:
        href: /v3/reference/jobs-get
        metadata:
          title: "Get a job"
          sidebarTitle: "Get a job"
          description: "Read one job. Honor next_poll_at when you poll."
      operationId: jobs.get
      summary: "Read one job. Honor next_poll_at when you poll."
      tags:
        - jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jobs/{job_id}/cancel:
    post:
      x-mint:
        href: /v3/reference/jobs-cancel
        metadata:
          title: "Cancel a job"
          sidebarTitle: "Cancel a job"
          description: "Request cooperative cancel of a Job"
      operationId: jobs.cancel
      summary: Request cooperative cancel of a Job
      tags:
        - jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (JOB_NOT_CANCELLABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jobs/{job_id}/input:
    post:
      x-mint:
        href: /v3/reference/jobs-input
        metadata:
          title: "Answer a job's questions"
          sidebarTitle: "Answer a job's questions"
          description: "Answer a needs_input Job's questions and resume it"
      operationId: jobs.input
      summary: Answer a needs_input Job's questions and resume it
      tags:
        - jobs
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                answers:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 20
              required:
                - answers
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (JOB_NOT_WAITING)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account:
    get:
      x-mint:
        href: /v3/reference/account-get
        metadata:
          title: "Get your account"
          sidebarTitle: "Get your account"
          description: "Read the org, including plan, capability flags, concurrent agent runs, and project counts."
      operationId: account.get
      summary: "Read the org, including plan, capability flags, concurrent agent runs, and project counts."
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/credits:
    get:
      x-mint:
        href: /v3/reference/account-credits-get
        metadata:
          title: "Credit balance"
          sidebarTitle: "Credit balance"
          description: "Read the reservation-aware wallet balance in credits"
      operationId: account.credits.get
      summary: Read the reservation-aware wallet balance in credits
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/credits/usage:
    get:
      x-mint:
        href: /v3/reference/account-credits-usage
        metadata:
          title: "Credit usage"
          sidebarTitle: "Credit usage"
          description: "Credits spent in a month, with a per-section breakdown"
      operationId: account.credits.usage
      summary: Credits spent in a month, with a per-section breakdown
      tags:
        - account
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-(0[1-9]|1[0-2])$
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/rate-limits:
    get:
      x-mint:
        href: /v3/reference/account-rate-limits-get
        metadata:
          title: "Rate limits"
          sidebarTitle: "Rate limits"
          description: "Current rate-limit buckets, with limit, remaining, and reset per bucket."
      operationId: account.rate_limits.get
      summary: "Current rate-limit buckets, with limit, remaining, and reset per bucket."
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/projects:
    get:
      x-mint:
        href: /v3/reference/account-projects-list
        metadata:
          title: "List projects"
          sidebarTitle: "List projects"
          description: "List projects under the parent org"
      operationId: account.projects.list
      summary: List projects under the parent org
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-projects-create
        metadata:
          title: "Create a project"
          sidebarTitle: "Create a project"
          description: "Create a project (optional monthly credit cap)"
      operationId: account.projects.create
      summary: Create a project (optional monthly credit cap)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                monthly_credit_cap:
                  type: integer
                  minimum: 0
                  nullable: true
                enforcement:
                  type: string
                  enum:
                    - hard
                    - soft
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/projects/{project_id}:
    get:
      x-mint:
        href: /v3/reference/account-projects-get
        metadata:
          title: "Get a project"
          sidebarTitle: "Get a project"
          description: "Read one project"
      operationId: account.projects.get
      summary: Read one project
      tags:
        - account
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-projects-patch
        metadata:
          title: "Update a project"
          sidebarTitle: "Update a project"
          description: "Rename a project or change its budget cap / enforcement"
      operationId: account.projects.patch
      summary: Rename a project or change its budget cap / enforcement
      tags:
        - account
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                monthly_credit_cap:
                  type: integer
                  minimum: 0
                  nullable: true
                enforcement:
                  type: string
                  enum:
                    - hard
                    - soft
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-projects-delete
        metadata:
          title: "Delete a project"
          sidebarTitle: "Delete a project"
          description: "Delete a project (previews lists/rows/chats/campaigns without confirm)"
      operationId: account.projects.delete
      summary: Delete a project (previews lists/rows/chats/campaigns without confirm)
      tags:
        - account
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats:
    get:
      x-mint:
        href: /v3/reference/account-chats-list
        metadata:
          title: "List chats"
          sidebarTitle: "List chats"
          description: "List chats (onboarding/content/scheduled excluded by default)"
      operationId: account.chats.list
      summary: List chats (onboarding/content/scheduled excluded by default)
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: kind
          in: query
          required: false
          schema:
            type: string
            enum:
              - chat
              - content
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-chats-create
        metadata:
          title: "Create a chat"
          sidebarTitle: "Create a chat"
          description: "Create an empty chat"
      operationId: account.chats.create
      summary: Create an empty chat
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}:
    get:
      x-mint:
        href: /v3/reference/account-chats-get
        metadata:
          title: "Get a chat"
          sidebarTitle: "Get a chat"
          description: "Read one chat with linked list/campaign summaries"
      operationId: account.chats.get
      summary: Read one chat with linked list/campaign summaries
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-chats-patch
        metadata:
          title: "Rename a chat"
          sidebarTitle: "Rename a chat"
          description: "Rename a chat"
      operationId: account.chats.patch
      summary: Rename a chat
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-chats-archive
        metadata:
          title: "Archive a chat"
          sidebarTitle: "Archive a chat"
          description: "Archive a chat (soft-delete; no confirm required)"
      operationId: account.chats.archive
      summary: Archive a chat (soft-delete; no confirm required)
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}/links:
    post:
      x-mint:
        href: /v3/reference/account-chats-links-create
        metadata:
          title: "Link a list or campaign"
          sidebarTitle: "Link a list or campaign"
          description: "Link an existing list or campaign to a chat (idempotent)"
      operationId: account.chats.links.create
      summary: Link an existing list or campaign to a chat (idempotent)
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                list_id:
                  type: string
                  format: uuid
                campaign_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}/links/{slug}:
    delete:
      x-mint:
        href: /v3/reference/account-chats-links-delete
        metadata:
          title: "Unlink a list or campaign"
          sidebarTitle: "Unlink a list or campaign"
          description: "Unlink a list or campaign from a chat (does not delete it)"
      operationId: account.chats.links.delete
      summary: Unlink a list or campaign from a chat (does not delete it)
      tags:
        - account
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: slug
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/chats/{chat_id}/messages:
    post:
      x-mint:
        href: /v3/reference/account-chats-messages-create
        metadata:
          title: "Send a chat message"
          sidebarTitle: "Send a chat message"
          description: "Send a chat message and run the agent (returns a Job)"
      operationId: account.chats.messages.create
      summary: Send a chat message and run the agent (returns a Job)
      tags:
        - account
      description: "AGENT-tagged: may run the in-app agent under the hood."
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                prompt:
                  type: string
                  minLength: 1
                  maxLength: 10000
                metadata:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - prompt
      responses:
        "202":
          description: Job admitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (CHAT_BUSY)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders:
    get:
      x-mint:
        href: /v3/reference/account-senders-list
        metadata:
          title: "List senders"
          sidebarTitle: "List senders"
          description: "List the org's email and LinkedIn senders"
      operationId: account.senders.list
      summary: List the org's email and LinkedIn senders
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: channel
          in: query
          required: false
          schema:
            type: string
            enum:
              - email
              - linkedin
        - name: status
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}:
    get:
      x-mint:
        href: /v3/reference/account-senders-get
        metadata:
          title: "Get a sender"
          sidebarTitle: "Get a sender"
          description: "Read one sender (secrets never returned)"
      operationId: account.senders.get
      summary: Read one sender (secrets never returned)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-senders-patch
        metadata:
          title: "Update a sender"
          sidebarTitle: "Update a sender"
          description: "Update safe sender settings (no credentials)"
      operationId: account.senders.patch
      summary: Update safe sender settings (no credentials)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 120
                signature_html:
                  type: string
                  maxLength: 20000
                  nullable: true
                send_as_email:
                  type: string
                  format: email
                  nullable: true
                daily_limit:
                  type: integer
                  minimum: 1
                  maximum: 1000
                timezone:
                  type: string
                  minLength: 1
                base_gap_minutes:
                  type: integer
                  minimum: 0
                  maximum: 1440
                random_gap_minutes:
                  type: integer
                  minimum: 0
                  maximum: 1440
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (SEND_AS_NOT_ALLOWED, SEND_AS_LOOKUP_FAILED,
            SEND_AS_MULTI_STEP_SEQUENCE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-senders-delete
        metadata:
          title: "Disconnect a sender"
          sidebarTitle: "Disconnect a sender"
          description: "Disconnect a sender (previews stops when sends are scheduled)"
      operationId: account.senders.delete
      summary: Disconnect a sender (previews stops when sends are scheduled)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/warmup/enable:
    post:
      x-mint:
        href: /v3/reference/account-senders-warmup-enable
        metadata:
          title: "Turn warmup on"
          sidebarTitle: "Turn warmup on"
          description: "Enable warmup for an email sender (feature-gated)"
      operationId: account.senders.warmup.enable
      summary: Enable warmup for an email sender (feature-gated)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (WARMUP_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/warmup/disable:
    post:
      x-mint:
        href: /v3/reference/account-senders-warmup-disable
        metadata:
          title: "Turn warmup off"
          sidebarTitle: "Turn warmup off"
          description: "Disable warmup for an email sender"
      operationId: account.senders.warmup.disable
      summary: Disable warmup for an email sender
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (WARMUP_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/imap:
    post:
      x-mint:
        href: /v3/reference/account-senders-imap-create
        metadata:
          title: "Connect an SMTP/IMAP mailbox"
          sidebarTitle: "Connect an SMTP/IMAP mailbox"
          description: "Connect a native SMTP/IMAP mailbox (write-only credentials)"
      operationId: account.senders.imap.create
      summary: Connect a native SMTP/IMAP mailbox (write-only credentials)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                  minLength: 1
                  maxLength: 80
                last_name:
                  type: string
                  minLength: 1
                  maxLength: 80
                timezone:
                  type: string
                  minLength: 1
                smtp_host:
                  type: string
                  minLength: 1
                smtp_port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                smtp_username:
                  type: string
                  minLength: 1
                smtp_password:
                  type: string
                  minLength: 1
                imap_host:
                  type: string
                  minLength: 1
                imap_port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                imap_username:
                  type: string
                  minLength: 1
                imap_password:
                  type: string
                  minLength: 1
              required:
                - email
                - smtp_host
                - smtp_port
                - smtp_username
                - smtp_password
                - imap_host
                - imap_port
                - imap_username
                - imap_password
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (SMTP_AUTH_FAILED, IMAP_UNREACHABLE, HOST_NOT_ALLOWED,
            DUPLICATE_MAILBOX, ACCOUNT_LIMIT_REACHED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/connect:
    post:
      x-mint:
        href: /v3/reference/account-senders-connect
        metadata:
          title: "Connect via OAuth"
          sidebarTitle: "Connect via OAuth"
          description: "Get a connect-accounts handoff URL (OAuth never completes in-process)"
      operationId: account.senders.connect
      summary: Get a connect-accounts handoff URL (OAuth never completes in-process)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                channel:
                  type: string
                  enum:
                    - email
                    - linkedin
              required:
                - channel
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/reconnect:
    post:
      x-mint:
        href: /v3/reference/account-senders-reconnect
        metadata:
          title: "Reconnect a sender"
          sidebarTitle: "Reconnect a sender"
          description: "Reconnect a needs_reauth sender (handoff, or IMAP re-submit instruction)"
      operationId: account.senders.reconnect
      summary: Reconnect a needs_reauth sender (handoff, or IMAP re-submit instruction)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (IMAP_REAUTH_REQUIRED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/senders/{sender_id}/send-as-aliases:
    get:
      x-mint:
        href: /v3/reference/account-senders-send-as-aliases-list
        metadata:
          title: "List send-as aliases"
          sidebarTitle: "List send-as aliases"
          description: "List verified send-as aliases (empty for IMAP/LinkedIn senders)"
      operationId: account.senders.send_as_aliases.list
      summary: List verified send-as aliases (empty for IMAP/LinkedIn senders)
      tags:
        - account
      parameters:
        - name: sender_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (SEND_AS_LOOKUP_FAILED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/search:
    post:
      x-mint:
        href: /v3/reference/account-domains-search
        metadata:
          title: "Search for domains"
          sidebarTitle: "Search for domains"
          description: "Search available domains with prices (never charges)"
      operationId: account.domains.search
      summary: Search available domains with prices (never charges)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - query
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains:
    get:
      x-mint:
        href: /v3/reference/account-domains-list
        metadata:
          title: "List your domains"
          sidebarTitle: "List your domains"
          description: "List owned DFY domains"
      operationId: account.domains.list
      summary: List owned DFY domains
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}:
    get:
      x-mint:
        href: /v3/reference/account-domains-get
        metadata:
          title: "Get a domain"
          sidebarTitle: "Get a domain"
          description: "Read one owned domain"
      operationId: account.domains.get
      summary: Read one owned domain
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/purchase:
    post:
      x-mint:
        href: /v3/reference/account-domains-purchase
        metadata:
          title: "Buy domains"
          sidebarTitle: "Buy domains"
          description: "Purchase domains on the card on file (priced preview without confirm)"
      operationId: account.domains.purchase
      summary: Purchase domains on the card on file (priced preview without confirm)
      tags:
        - account
      parameters:
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domains:
                  type: array
                  items:
                    type: string
                    minLength: 3
                    maxLength: 253
                  minItems: 1
                  maxItems: 20
                forwarding_domain:
                  type: string
                  minLength: 3
                  maxLength: 253
                timezone:
                  type: string
                  minLength: 1
                metadata:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - domains
      responses:
        "202":
          description: Job admitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (NO_PAYMENT_METHOD)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}/renewal/cancel:
    post:
      x-mint:
        href: /v3/reference/account-domains-renewal-cancel
        metadata:
          title: "Turn off auto-renewal"
          sidebarTitle: "Turn off auto-renewal"
          description: "Cancel auto-renewal for a domain"
      operationId: account.domains.renewal.cancel
      summary: Cancel auto-renewal for a domain
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}/renewal/undo:
    post:
      x-mint:
        href: /v3/reference/account-domains-renewal-undo
        metadata:
          title: "Turn auto-renewal back on"
          sidebarTitle: "Turn auto-renewal back on"
          description: "Undo a renewal cancellation"
      operationId: account.domains.renewal.undo
      summary: Undo a renewal cancellation
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/domains/{domain_id}/forwarding:
    post:
      x-mint:
        href: /v3/reference/account-domains-forwarding-set
        metadata:
          title: "Set domain forwarding"
          sidebarTitle: "Set domain forwarding"
          description: "Set apex forwarding for an owned domain"
      operationId: account.domains.forwarding.set
      summary: Set apex forwarding for an owned domain
      tags:
        - account
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                forwarding_domain:
                  type: string
                  minLength: 3
                  maxLength: 253
              required:
                - forwarding_domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/mailboxes:
    get:
      x-mint:
        href: /v3/reference/account-mailboxes-list
        metadata:
          title: "List mailboxes"
          sidebarTitle: "List mailboxes"
          description: "List DFY mailboxes (no passwords)"
      operationId: account.mailboxes.list
      summary: List DFY mailboxes (no passwords)
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-mailboxes-provision
        metadata:
          title: "Create mailboxes"
          sidebarTitle: "Create mailboxes"
          description: "Provision mailboxes on owned domains (always async)"
      operationId: account.mailboxes.provision
      summary: Provision mailboxes on owned domains (always async)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                mailboxes:
                  type: array
                  items:
                    type: object
                    properties:
                      domain_id:
                        type: string
                        format: uuid
                      local_part:
                        type: string
                        minLength: 1
                        maxLength: 64
                      first_name:
                        type: string
                        minLength: 1
                        maxLength: 80
                      last_name:
                        type: string
                        minLength: 1
                        maxLength: 80
                    required:
                      - domain_id
                      - local_part
                      - first_name
                      - last_name
                    additionalProperties: false
                  minItems: 1
                  maxItems: 50
                metadata:
                  type: object
                  additionalProperties:
                    type: string
              required:
                - mailboxes
      responses:
        "202":
          description: Job admitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (see error codes)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists:
    get:
      x-mint:
        href: /v3/reference/account-exclusion-lists-get
        metadata:
          title: "Get exclusion settings"
          sidebarTitle: "Get exclusion settings"
          description: "Read the effective exclusion-list source and entry counts"
      operationId: account.exclusion_lists.get
      summary: Read the effective exclusion-list source and entry counts
      tags:
        - account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-exclusion-lists-patch
        metadata:
          title: "Switch exclusion source"
          sidebarTitle: "Switch exclusion source"
          description: "Switch a project between the shared org list and its private list"
      operationId: account.exclusion_lists.patch
      summary: Switch a project between the shared org list and its private list
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                source:
                  type: string
                  enum:
                    - organization
                    - project
              required:
                - source
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/people:
    get:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-list
        metadata:
          title: "List excluded people"
          sidebarTitle: "List excluded people"
          description: "List people exclusion entries, filterable by identifier"
      operationId: account.exclusion_lists.people.list
      summary: List people exclusion entries, filterable by identifier
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
        - name: linkedin_slug
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: company_domain
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-add
        metadata:
          title: "Exclude people"
          sidebarTitle: "Exclude people"
          description: "Add people entries (single or bulk \u22641,000; idempotent upsert)"
      operationId: account.exclusion_lists.people.add
      summary: Add people entries (single or bulk ≤1,000; idempotent upsert)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                linkedin_slug:
                  type: string
                  minLength: 1
                  maxLength: 200
                full_name:
                  type: string
                  minLength: 1
                  maxLength: 200
                email:
                  type: string
                  format: email
                company_domain:
                  type: string
                  minLength: 1
                  maxLength: 253
                company_name:
                  type: string
                  minLength: 1
                  maxLength: 200
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      linkedin_slug:
                        type: string
                        minLength: 1
                        maxLength: 200
                      full_name:
                        type: string
                        minLength: 1
                        maxLength: 200
                      email:
                        type: string
                        format: email
                      company_domain:
                        type: string
                        minLength: 1
                        maxLength: 253
                      company_name:
                        type: string
                        minLength: 1
                        maxLength: 200
                    additionalProperties: false
                  minItems: 1
                  maxItems: 1000
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (UNMATCHABLE_IDENTIFIER)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-clear
        metadata:
          title: "Clear excluded people"
          sidebarTitle: "Clear excluded people"
          description: "Clear the people exclusion list"
      operationId: account.exclusion_lists.people.clear
      summary: Clear the people exclusion list
      tags:
        - account
      parameters:
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/people/{entry_id}:
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-people-delete
        metadata:
          title: "Un-exclude one person"
          sidebarTitle: "Un-exclude one person"
          description: "Remove one people exclusion entry"
      operationId: account.exclusion_lists.people.delete
      summary: Remove one people exclusion entry
      tags:
        - account
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/companies:
    get:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-list
        metadata:
          title: "List excluded companies"
          sidebarTitle: "List excluded companies"
          description: "List company exclusion entries, filterable by identifier"
      operationId: account.exclusion_lists.companies.list
      summary: List company exclusion entries, filterable by identifier
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: company_domain
          in: query
          required: false
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-add
        metadata:
          title: "Exclude companies"
          sidebarTitle: "Exclude companies"
          description: "Add company entries (single or bulk \u22641,000; idempotent upsert)"
      operationId: account.exclusion_lists.companies.add
      summary: Add company entries (single or bulk ≤1,000; idempotent upsert)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                company_domain:
                  type: string
                  minLength: 1
                  maxLength: 253
                company_name:
                  type: string
                  minLength: 1
                  maxLength: 200
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      company_domain:
                        type: string
                        minLength: 1
                        maxLength: 253
                      company_name:
                        type: string
                        minLength: 1
                        maxLength: 200
                    additionalProperties: false
                  minItems: 1
                  maxItems: 1000
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (UNMATCHABLE_IDENTIFIER)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-clear
        metadata:
          title: "Clear excluded companies"
          sidebarTitle: "Clear excluded companies"
          description: "Clear the company exclusion list"
      operationId: account.exclusion_lists.companies.clear
      summary: Clear the company exclusion list
      tags:
        - account
      parameters:
        - name: confirm
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/exclusion-lists/companies/{entry_id}:
    delete:
      x-mint:
        href: /v3/reference/account-exclusion-lists-companies-delete
        metadata:
          title: "Un-exclude one company"
          sidebarTitle: "Un-exclude one company"
          description: "Remove one company exclusion entry"
      operationId: account.exclusion_lists.companies.delete
      summary: Remove one company exclusion entry
      tags:
        - account
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/webhooks:
    get:
      x-mint:
        href: /v3/reference/account-webhooks-list
        metadata:
          title: "List endpoints"
          sidebarTitle: "List endpoints"
          description: "List webhook endpoints"
      operationId: account.webhooks.list
      summary: List webhook endpoints
      tags:
        - account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      x-mint:
        href: /v3/reference/account-webhooks-create
        metadata:
          title: "Create an endpoint"
          sidebarTitle: "Create an endpoint"
          description: "Create a webhook endpoint (secret shown once)"
      operationId: account.webhooks.create
      summary: Create a webhook endpoint (secret shown once)
      tags:
        - account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 50
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - url
                - event_types
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict (WEBHOOK_LIMIT_REACHED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/webhooks/{webhook_id}:
    get:
      x-mint:
        href: /v3/reference/account-webhooks-get
        metadata:
          title: "Get an endpoint"
          sidebarTitle: "Get an endpoint"
          description: "Read one webhook endpoint"
      operationId: account.webhooks.get
      summary: Read one webhook endpoint
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      x-mint:
        href: /v3/reference/account-webhooks-patch
        metadata:
          title: "Update an endpoint"
          sidebarTitle: "Update an endpoint"
          description: "Update a webhook endpoint's url, events, or enabled state"
      operationId: account.webhooks.patch
      summary: Update a webhook endpoint's url, events, or enabled state
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 50
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                enabled:
                  type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Requires an admin API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      x-mint:
        href: /v3/reference/account-webhooks-delete
        metadata:
          title: "Delete an endpoint"
          sidebarTitle: "Delete an endpoint"
          description: "Delete a webhook endpoint"
      operationId: account.webhooks.delete
      summary: Delete a webhook endpoint
      tags:
        - account
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Validation error (unknown fields are rejected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
[...]
